<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groceries Delivery</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/sytle.css">
    <link rel="icon" type='image/png' href="../static/img/logoSite.PNG">
</head>
<body>
    <header>          
        <div class="header-content">
            <!-- Logo -->
            <div id="navbar-brand">
                <h1>Bandage</h1>
            </div>

        <!-- Navegação principal -->
        <nav class="main-nav">
            <ul class="ulHeader">
              <li class="liHeader"><a class="aHeader" href="#home">Home</a></li>
              <li class="liHeader"><a class="aHeader" href="#shop">Shop</a></li> 
              <li class="liHeader"><a class="aHeader" href="#about">About</a></li>
              <li class="liHeader"><a class="aHeader" href="#blog">Blog</a></li>
              <li class="liHeader"><a class="aHeader" href="#contact">Contact</a></li>
              <li class="liHeader"><a class="aHeader" href="#contact">Pages</a></li>
            </ul>
          </nav>
        <!-- Ícones de pesquisa, carrinho e coração -->
        <div class="icons">
            <img src="../static/img/login.png" alt="login" class="icon iconLogin">
            <img src="../static/img/lupa.png" alt="Ícone de busca" class="iconHeader">
            <img src="../static/img/carrinho.png" alt="Ícone de carrinho" class="iconHeader">
            <img src="../static/img/coracao.png" alt="Ícone de coração" class="iconHeader">
        </div>
    </div>
  </header>
  <!-- carousel -->
  <div class="carousel-container">
         <div class="carousel">
          </div>
          <button class="carousel-button prev">&lt;</button>
          <button class="carousel-button next">&gt;</button>
          <div class="carousel-indicators">
          </div>
      </div>
    <main>
       
    </main>

    <!-- Rodapé -->
    <footer>
      <div class="container">
          <div class="layout">
              <div class="row">
                  <div class="text-content">
                      <h3 class="title">Consulting Agency For Your Business</h3>
                      <p class="subtitle">the quick fox jumps over the lazy dog</p>
                  </div>
                  <div class="button-layout">
                      <button class="btn primary-color">Contact Us</button>
                  </div>
              </div>
          </div>

          <!-- Segundo Container -->
          <div class="row">
              <div class="col-md-2">
                  <h4>Company Info</h4>
                  <ul>
                      <li>About Us</li>
                      <li>Carrier</li>
                      <li>We are hiring</li>
                      <li>Blog</li>
                  </ul>
              </div>
              <div class="col-md-2">
                  <h4>Legal</h4>
                  <ul>
                      <li>About Us</li>
                      <li>Carrier</li>
                      <li>We are hiring</li>
                      <li>Blog</li>
                  </ul>
              </div>
              <div class="col-md-2">
                  <h4>Features</h4>
                  <ul>
                      <li>Business Marketing</li>
                      <li>User Analytic</li>
                      <li>Live Chat</li>
                      <li>Unlimited Support</li>
                  </ul>
              </div>
              <div class="col-md-2">
                  <h4>Resources</h4>
                  <ul>
                      <li>iOS & Android</li>
                      <li>Watch a Demo</li>
                      <li>Customers</li>
                      <li>API</li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <h4>Get In Touch</h4>
                  <ul>
                      <li><img src="../static/img/bx_bx-phone.png" alt="Phone Icon"> (480) 555-0103</li>
                      <li><img src="../static/img/Vector.png" alt="Address Icon"> 4517 Washington Ave.</li>
                      <li><img src="../static/img/carbon_send-alt.png" alt="Email Icon"> debra.holt@example.com</li>
                  </ul>
              </div>
          </div>
      </div>

      <!-- Terceiro Container -->
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <h4>Made With Love By Figmaland All Right Reserved</h4>
              </div>
              <div class="social-icons">
                  <a href="#" class="social-icon"><img src="../static/img/facebook.png" alt="Facebook"></a>
                  <a href="#" class="social-icon"><img src="../static/img/instagram.png" alt="Instagram"></a>
                  <a href="#" class="social-icon"><img src="../static/img/twitter.png" alt="Twitter"></a>
              </div>
          </div>
      </div>
  </footer>

  <script src="../static/script.js"></script>
</body>
</html>